doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    p Imaginemos um rodape aqui
      br
      a(href="/users") Outra Rota /users
      
